<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>SSO Customers</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Baloo&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Baloo&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="/css/style.css" />
  <!-- JavaScript for Materialize -->
  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script> 
</head>
<body>
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper blue">
        <a href="" class="brand-logo left">Single Sign On Information</a>
        <ul class="right">
          <li><a href="/">Home</li></a>
          <li><a href="/customers/new">Add Customer</li></a>
        </ul>
      </div>
    </nav>
  </div>
      <div class="container">
        <h1>Single Sign On Customers</h1>
      </div>
      <div>
        <main id="customerInfo">
            <ul class="collection">
              <% customers.forEach(function(m) { %>
                <li>
                  <form action="/customers/<%= m._id %>?_method=DELETE" method="POST">
                  <button type ="submit" class="btn red white-text">Delete</button>
                  </form>
                </li>
            </ul>
            <ul>
            <li class="label">ORGANIZATION NAME:</li><a href="/<%= m._id %>" class="btn btn-primary">Details</a>
            <li><%= m.company %></li>
            <li class="label">CONTACT NAME:</li>
            <li><%= m.name %></li>
            <li class="label">EMAIL:</li>
            <li><%= m.email %></li>
          </ul>
          <% }); %>
        </main>
      </div>
    </nav>
  </div>
</body>
</html>